{% extends '::base.html.twig' %}

{% block content -%}
    <h1>User_stories creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('user_stories') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
