{% extends 'base.html.twig' %}
{% block body %}
    {% if name=='salome' %}
        <h1> Bonjour {{name}} !! </h1>
    {% elseif name=='max' %}
        <h1> Au revoir {{name}} !! </h1>
    {% endif %}
{% endblock %}
{% block title %}
    coucou
{% endblock %}
